{% extends 'base.html'%}
{% load staticfiles %}
{% block content%}
      <div class="row">
      {% include "menu.html" %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Control</h1>
          <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
      <span class="glyphicon glyphicon-align-center" aria-hidden="true"/>
      </a>
      <p class="navbar-text"></p>
    </div>
  </div>
</nav>

<div class="panel panel-success">
<div class="panel-heading">
Bienvenido al Sistema de Control de Servicios Medicos de la Unerg
</div>
<div class="panel-body">
Desde aqui padra administrar medicamentos, Estudiantes, Reportes, Inventario y Historial del Sistema.
</div>
</div>
            
        </div>
      </div>
 {% endblock content%}
 {% block js %}
	<script type="text/javascript" src="{% static 'js/medicamentos/list.js' %}"></script>
{% endblock js %}